{% load cms_tags sekizai_tags menu_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block page_title %}Главная. {{ base.company }}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen">
    {% render_block "css" %}
</head>
<body class="">
    {% cms_toolbar %}

    {% block header %}
    <div class="header" {% block header_class %}{% endblock %}>
        <div class="header__content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="logo">
                            <a href="/"><img src="{{ STATIC_URL }}img/logo.png" title="ВИТАР-Сервис"></a>
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div class="phone">
                            <small>Телефон:</small>
                            {% static_placeholder 'phone' %}
                        </div>
                        <div class="menu">
                            <ul>
                                {% show_menu 0 0 0 100 "menu/menu.html" %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__video"></div>
    </div>
    {% endblock %}

    <div class="body">
        {% block container %}
        <div class="container">
            <div class="row">
                <div class="col-xs-9">
                  {% block content %}{% endblock %}
                </div>
                <div class="col-xs-3">
                  {% block sidebar %}{% endblock %}
                </div>
            </div>
        </div>
        {% endblock %}
    </div>

    <div class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <img src="{{ STATIC_URL }}img/logo-bottom.png">
                </div>
                <div class="col-xs-9">
                    <div class="bottom_menu">
                        <ul>
                            {% show_menu 0 0 0 100 "menu/menu.html" %}
                        </ul>
                    </div>

                    <div class="contact">
                        {% static_placeholder 'bottom_info' %}
                        <p>
                            <span class="gray">Эл. почта:</span> <a href="mailto:{% static_placeholder 'email' %}">{% static_placeholder 'email' %}</a>
                            <br />
                            <span class="gray">Телефон:</span> {% static_placeholder 'phone' %}
                        </p>
                        <p>
                            <a href="{% page_id_url 'contacts' %}">Контактные данные</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}lib/jquery-2.1.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/project.js"></script>

    {% block script %}{% endblock %}
    {% render_block "js" %}
</body>
</html>

