{% extends '__base.html' %}
{% load cms_tags sekizai_tags menu_tags %}

{% block content %}
    <h1>{% page_attribute "page_title"  %}</h1>

    {% placeholder base_content %}

{% endblock %} 


{% block sidebar %}
    <div class="sidebar">
        <h3>Награды</h3>
        {% placeholder rewards %}

        <h3>Клиенты</h3>
        <p><img src="{{ STATIC_URL }}img/parthner-logo-gray-1.png"></p><br>
        <p><img src="{{ STATIC_URL }}img/parthner-logo-gray-2.png"></p><br>
        <p><img src="{{ STATIC_URL }}img/parthner-logo-gray-3.png"></p>

        <a href="{% page_id_url 'objects' %}">И еще 12 клиентов</a>

    </div>
{% endblock %}