{% extends '__base.html' %}
{% load cms_tags sekizai_tags %}

{% block container %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
           <h1>Контакты</h1>
        </div>
    </div>
    <div class="google-map-address">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-3 line">
                <div class="address">
                    {% static_placeholder 'address' %}
                </div>
                <div class="phone-block">
                    Телефон для справки
                    <div class="contact-phone">{% static_placeholder 'phone' %}</div>
                    <a href="mailto:{% static_placeholder 'email' %}">{% static_placeholder 'email' %}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="google-map">
        {% placeholder map %}
    </div>
    {% load vitar_tags %}
    {% feedback_form request %}
</div>
{% endblock %} 