{% extends '__base.html' %}
{% load cms_tags menu_tags %}

{% block header %}
<div class="header header_index">
    <div class="header__content">
        <div class="logo"><img src="{{ STATIC_URL }}img/logo.png" title="ВИТАР-Сервис"></div>

        <div class="phone">
            <small>Телефон:</small>
            {% static_placeholder 'phone' %}
        </div>

        <div class="menu">
            <ul>
                {% show_menu 0 0 0 100 "menu/menu.html" %}
            </ul>
        </div>
        <div class="hello_text">
            {% static_placeholder 'index_text' %}
        </div>
    </div>
    <div class="header__video">
        <img src="{{ STATIC_URL }}img/title.jpg">
    </div>
</div>
{% endblock %}

{% block container %}
    <div class="index_description">
        <h1 class="tac">Преимущества технологии:</h1>
        <br>

        <div class="container">
            <div class="row">
                <div class="col-xs-7">
                    <div class="about">
                        {% static_placeholder 'intro_text' %}
                        <a href="{% page_id_url 'about' %}">Узнать больше о компании</a>
                    </div>
                </div>
                <div class="col-xs-5">
                    {% static_placeholder 'reasons' %}
                    <a href="{% page_id_url 'about' %}" class="more">Больше информации о выгодах</a>
                </div>
            </div>
        </div>
    </div>

    {% load catalog_tags %}
    {% get_map request index=True %}

    <div class="feedback">
        {% load vitar_tags %}
        {% feedback_index %}
    </div>

    {% news_index %}

{% endblock %}