{% extends '__base.html' %}

{% load cms_tags menu_tags thumbnail %}

{% block content %}
    <h1>{% page_attribute "page_title" %}</h1>

    {% show_breadcrumb 0 "menu/breadcrumb.html" %}

    <h2>{{ item.title }}</h2>

    {{ item.content|safe }}
    <br>

    <p>
        ← <a href="{% url 'news' %}">Все новости</a>
    </p>
    
{% endblock %}