{% extends '__base.html' %}

{% load cms_tags menu_tags news_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1">

            <h1>{% page_attribute "page_title" %}</h1>

            {% news_filter %}
        </div>
    </div>

    <div class="news-inner">
        {% for i in object_list %}
        <div class="news-inner__item">
            <div class="row">
                <div class="col-xs-2 tar">
                    <div class="news-inner__item-date">{{ i.created|date:'j E Y' }}</div>
                </div>
                <div class="col-xs-9">
                    <div class="news-inner__item-text">
                        <a href="{{ i.get_absolute_url }}">{{ i.title }}</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
            <div class="row">
                <div class="col-xs-8 col-xs-offset-1">
                    <div class="alert alert-info">
                        К сожалению, новостей за этот период нет.
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include 'parts/paging.html' with is_paginated=is_paginated paginator=paginator page_obj=page_obj %}

</div>
{% endblock %}