{% load static catalog_tags %}

<div class="we-map {{modifier}}">
    <div class="we-map__inner">
        <div class="we-map__text">
            <h2>
                Наши объекты
                <small>на карте области</small>
            </h2>

            <h4>Компания «Витар Сервис» работаем в любой<br>точке Свердловской области</h4>

            <h3>Нам доверяют:</h3>
            <ul class="parthner">
                <li><img src="{% get_static_prefix %}img/parthner-logo-1.png"></li>
                <li><img src="{% get_static_prefix %}img/parthner-logo-2.png"></li>
                <li><img src="{% get_static_prefix %}img/parthner-logo-3.png"></li>
            </ul>
        </div>

        <div class="we-map__map-city" style="dislay: none;">
            <a href="#" class="we-map__map-city-close"></a>
            <div class="we-map__map-markers">
                {% for i in objects_city %}
                <div
                    class="we-map__map-markers-item"
                    data-title="{{ i.title }}"
                    data-description="{{ i.description }}"
                    data-link="{{ i.get_absolute_url }}"
                    style="{{ i|get_city_coord }}"></div>
                {% endfor %}
            </div>
        </div>
        <div class="we-map__map-region">
            <div class="we-map__map-markers">
                {% for i in objects_region %}
                <div
                    class="we-map__map-markers-item"
                    data-title="{{ i.title }}"
                    data-description="{{ i.description }}"
                    data-link="{{ i.get_absolute_url }}"
                    style="{{ i|get_city_coord }}"></div>
                {% endfor %}
            </div>
            <div class="we-map__map-region-city">
                <div class="we-map__map-region-city-counter">{{ objects_city|length }}</div>
            </div>
        </div>
    </div>
    {% if not modifier %}
    <div class="request-button" id="show-request-form">
        <button>Отправить заявку</button>
    </div>
    {% endif %}
</div>

<div class="request-form {% if modifier %}active{% endif %}">
    <div class="request-form__inner">

        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1" name="request-form">
                    <h2 class="tac">Заявка на услуги</h2>
                    <br>

                    {% if not ok %}
                        <h4>Контактные данные</h4>

                        <form action="{{ request.PATH_INFO }}#request-form" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group {% if form.title.errors %}has-error{% endif %}">
                                        {{ form.title }}
                                        {% for e in form.title.errors %}
                                            <div class="input-group-addon">{{ e }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                                        {{ form.email }}
                                        {% for e in form.email.errors %}
                                            <div class="input-group-addon">{{ e }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group {% if form.phone.errors %}has-error{% endif %}">
                                        {{ form.phone }}
                                        {% for e in form.phone.errors %}
                                            <div class="input-group-addon">{{ e }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <br>

                            <h4>Напишите, что вам нужно</h4>

                            <div class="form-group">
                                {{ form.subject }}
                            </div>
                            <br>
                            <br>
                            <br>

                            <div class="request-button">
                                <button type="submit">Отправить заявку</button>
                            </div>
                        </form>
                    {% else %}
                        <div class="alert alert-success">
                            Сообщение было успешно отправлено. Спасибо за проявленное внимание, мы скоро с вами свяжемся!
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>