{% load cms_tags menu_tags thumbnail %}

<div class="container">
    <h2 class="tac">Отзывы клиентов</h2>

    {% for i in feedback %}
    {% cycle '<div class="row">' '' as div_start %}{{ div_start }}
        <div class="feedback_item">
            <div class="col-xs-2">
                <div class="feedback_item_logo">
                    <img src="{% thumbnail i.img 140x140 %}">
                </div>
            </div>
            <div class="col-xs-4">
                <div class="feedback_item_text">
                    {{ i.content }}<br>
                    <strong>{{ i.client }}</strong>
                </div>
            </div>
        </div>
    {% cycle '' '</div>' as div_end %}{{ div_end }}
    {% endfor %}
    {% if feedback|length == 1 or feedback|length == 3 %}</div>{% endif %}
</div>

<div class="tac">
    <a href="{% page_id_url 'feedback' %}" class="btn btn-light">Другие отзывы от наших клиентов</a>
</div>