<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
       <h4>Напишите нам</h4>

        {% if not ok %}
        <form action="{{ request.PATH_INFO }}" method="POST">
            {% csrf_token %}
            {% for i in form %}
                <div class="form-group {% if i.errors %}has-error{% endif %}">
                    {{ i }}
                    {% for e in i.errors %}
                        <div class="input-group-addon">{{ e }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-orange">Отправить</button>
        </form>
        {% else %}
        <div class="alert alert-success">
            Сообщение было успешно отправлено. Спасибо за проявленное внимание, мы скоро с вами свяжемся!
        </div>
        {% endif %}

    </div>
</div>