<div class="news">
    <div class="container">
        <h2>Новости</h2>

        <div class="row">
            {% for i in news %}
            <div class="col-xs-3">
                <div class="news_item">
                    <div class="date">{{ i.created|date:'j E Y' }}</div>
                    <a href="{{ i.get_absolute_url }}">{{ i.title }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<br>
