
<div class="news-filter">
    <div class="news-filter__years">
        <ul>
            <li {% if not context.current_year %}class="active"{% endif %}><a href="{% url 'news' %}">Все</a></li>
            {% for i in context.years %}
            <li {% if context.current_year == i|lower %}class="active"{% endif %}>
                <a href="{% url 'news_by_year' year=i %}">{{ i }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% if context.current_year %}
    <div class="news-filter__month">
        <ul>
            <li {% if not context.current_month %}class="active"{% endif %}><a href="{% url 'news_by_year' year=context.current_year %}">Все</a></li>
            {% for k in context.month %}
            <li {% if context.current_month == k.0|lower %}class="active"{% endif %}>
                {% if context.current_year|lower == context.now_year|lower and k.0 > context.max_month %}
                    <span>{{ k.1 }}</span>
                {% else %}
                    <a href="{% url 'news_by_month' year=context.current_year month=k.0 %}">{{ k.1 }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>