{% extends '__base.html' %}
{% load menu_tags cms_tags sekizai_tags %}

{% block content %}
    <h1>{% page_attribute "title"  %}</h1>

    {% placeholder base_content %}


    <div class="accordeon">
        {% for i in items %}
        <div class="item {% if forloop.counter == 1 %}active{% endif %}">
            <div class="title">{{ i.title }}</div>
            <div class="description">
                {{ i.description|safe|linebreaks }}
                <p>
                    <a href="{{ i.get_absolute_url }}">Узнать подробности</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar %}
<div class="solution-sidebar">
    {% static_placeholder 'get_price' %}

    <div class="devider">
        <span>или</span>
    </div>
    <div class="send-request">
        <a href="{% page_id_url 'objects' %}#open-form">Отправить заявку</a>
        на наши услуги
    </div>
</div>
{% endblock %}