@font-path: '../fonts/neris';

@font-face {
    font-family: 'nerisblack';
    src: url('@{font-path}/neris-black-webfont.eot');
    src: url('@{font-path}/neris-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{font-path}/neris-black-webfont.woff') format('woff'),
         url('@{font-path}/neris-black-webfont.ttf') format('truetype'),
         url('@{font-path}/neris-black-webfont.svg#nerisblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nerislight';
    src: url('@{font-path}/neris-light-webfont.eot');
    src: url('@{font-path}/neris-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{font-path}/neris-light-webfont.woff') format('woff'),
         url('@{font-path}/neris-light-webfont.ttf') format('truetype'),
         url('@{font-path}/neris-light-webfont.svg#nerislight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nerissemibold';
    src: url('@{font-path}/neris-semibold-webfont.eot');
    src: url('@{font-path}/neris-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{font-path}/neris-semibold-webfont.woff') format('woff'),
         url('@{font-path}/neris-semibold-webfont.ttf') format('truetype'),
         url('@{font-path}/neris-semibold-webfont.svg#nerissemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}