@import 'fonts.less';
@import 'bootstrap/bootstrap.less';
@import 'mixins.less';

html, body {
  height: 100%;
}
body {
  .light;
  font-size: 18px;
}

.semibold { font-family: "nerissemibold", sans-serif; font-weight: 400;}
.light { font-family: "nerislight", sans-serif; }
.thin { font-family: "nerislight", sans-serif; }
.light_italic { font-family: "nerislight", sans-serif; font-style: italic; }
.black { font-family: "nerisblack", sans-serif; }

.tac {text-align: center;}
.tar {text-align: right;}

.gray {color: #abb0b3;}

@linkColor: #5599d2;
@orangeColor: #f58d28;


// Bootstrap override
@input-border: #eee;
@input-border-radius: 0;
@input-height-base: 40px;

h1 {
  font-size: 50px;
  .semibold;
  color: #000;
  text-transform :uppercase;
  margin-bottom: 30px;
  margin-top: 60px;
}
h2 {
  .semibold;
  font-size: 40px;
  color: #333;
  text-transform :uppercase;
  margin-bottom: 30px;
  margin-top: 60px;
}
h3 {
  .semibold;
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
  margin-top: 40px;

  &.form-label {
    text-transform: uppercase;
    font-size: 20px;
  }
}
h4 {
  .semibold;
  font-size: 26px;
  color: #333;
  margin-bottom: 20px;
  margin-top: 40px;
  text-transform: uppercase;
}

a {
  color: @linkColor;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: darken(@linkColor, 15%);
  }
}

.btn {
  &-orange {
    background: @orangeColor;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    .semibold;
    border-radius: 0;
    padding: 10px 20px;
  }
  &-light {
    @btnLightColor: #d2d7d9;
    background: @btnLightColor;
    color: #fff;
    border-radius: 3px;
    text-transform : uppercase;
    text-shadow: 0 2px 1px #92999b;
    padding: 10px 20px;
    &:hover,
    &:active {
      background: darken(@btnLightColor, 10%);
      color: #fff;
      .box-shadow(0 4px darken(@btnLightColor, 20%));
    }
  }
}

.header {
  position: relative;
  height: 187px;
  background: url('../img/inner-header.jpg') no-repeat top center;

  .logo {
      position: absolute;
      top: 50px;
  }
  .phone {
    position: absolute;
    .semibold;
    font-size: 30px;
    top: 30px;
    right: 0px;

    small {
      display: block;
      font-size: 15px;
      .light;
    }
  }
  .menu {
    position: absolute;
    right: 0px;
    top: 120px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 16px;
      .semibold;
      text-transform: uppercase;
      line-height: 24px;

      li {
        display: inline-block;
        margin: 0;
        padding: 0 10px;

        &.active {
          background: rgba(255,255,255, .2);

          &:after {
            .arrow(bottom, 6px, rgba(255,255,255, .2));
            position: absolute;
            margin-top: 0px;
          }
          a {
            border: none;
          }
        }

        a {
          color: #fff;
          display: block;
          height: 28px;
          position: relative;
          z-index: 10;
          border-bottom: 1px solid rgba(255,255,255, .3);
          &:hover {
            color: rgba(255,255,255, .7);
          }
        }
        &:last-child {
          margin-right: -10px;
        };
      }
    }
  }

  &_index {
    height: 800px;

    .hello_text {
      .tac;
      position: absolute;
      bottom: 70px;
      width: 780px;
      left: 50%;
      margin-left: -390px;
      .thin;

      .title {
        .semibold;
        font-size: 24px;
      }
      .slogan {
        margin: 0px 0 20px;
        font-size: 60px;
      }
      .description {
        font-size: 20px;
      }
    }
    .logo {
        left: 70px;
    }
    .menu {
      position: absolute;
      right: 70px;
      top: 50px;
    }
    .phone {
      position: absolute;
      top: 160px;
      right: 70px;
    }
  }
  &__video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;

    & > img,
    & .video {
      display: inline-block;
      width: 100%;
    }
  }
  &__content {
    position: relative;
    z-index: 10;
    color: #fff;
    height: 100%;
  }
}

.body {
  margin-bottom: 80px;
}

.index_description {
  .about {
    background: #f0f0f0;
    margin: 0 30px 90px 0;
    padding: 40px;
    position: relative;

    &:before {
      .arrow(top, 60px, #f0f0f0);
      position: absolute;
      top: -20px;
      transform: rotate(90deg);
      z-index: -1;
    }

    h3 {
      margin-top: 0;
    }
  }
  .reasons {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0 0 30px 0; 
    }

    .reason_item_index {
      width: 50px;
      height: 50px;
      line-height: 50px;
      color: #fff;
      .black;
      float: left;
      text-align: center;
      background: @orangeColor;
      font-size: 24px;

      border-radius: 100px;
    }
    .reason_item_text {
      padding-left: 70px;
    }
  }
  .more {
    margin-left: 70px;
    display: inline-block;
  }
}
.well-header {
  margin-top: 00px;
  background: url('../img/header-well.jpg') no-repeat center center;
  background-size: 100% 100%;
  height: 270px;
  padding: 1px 300px 0;
  color: #fff;
  margin: 0 0 60px;

  h1 {
    text-align: center;
    font-size: 60px;
    text-transform: none;
    .light;
    color: #fff;
  }
  p {
    text-align: center;
    font-size: 20px;
    color: #fff;
  }
}

.we-map {
  background: url('../img/map-bg.jpg') no-repeat center center;
  background-size: 100% 100%;
  height: 1155px;
  color: #fff;
  position: relative;

  &_inner {
    .we-map__inner {
      width: 1170px;
      left: -585px;
    }
  }

  &__inner {
    width: 1220px;
    margin-left: 50%;
    left: -610px;
    position: relative;
  }

  h1, h2, h3 {
    color: #fff;
  }

  &__map {
    &-markers {
      &-item {
        width: 33px;
        height: 45px;
        background: url('../img/map-flags.png') no-repeat right top;
        cursor: pointer;
        position: absolute;
        &:hover,
        &.active {
          background: url('../img/map-flags.png') no-repeat left top;
        }
      }
    }
    &-city {
      display: block !important;
      z-index: 20;
      width: 949px;
      height: 1271px;
      position: absolute;
      top: 0px;
      right: -100px;
      background: url('../img/map-city.png') no-repeat left top;
      transform: scale(0);
      opacity: 0;
      transition: all .3s ease;

      &.showed {
        transform: scale(1);
        opacity: 1;
      }

      &-close {
        width: 50px;
        height: 50px;
        right: 190px;
        position: absolute;
        top: 300px;
        background: url('../img/map-city-close.png') no-repeat;
        transition: all .2s ease;
        cursor: pointer;

        &:hover {
          opacity: .7;
        }
      }
    }
    &-region {
      z-index: 10;
      position: absolute;
      right: -90px;
      top: 60px;
      width: 897px;
      height: 1059px;
      background: url('../img/map-region.png') no-repeat left top;

      &-city {
        width: 95px;
        height: 78px;
        background: url('../img/map-region-city.png') no-repeat left top;
        position: absolute;
        top: 845px;
        left: 306px;
        transition: all .2s ease;
        cursor: pointer;

        &:hover {
          opacity: .8;
        }

        &-counter {
          font-size: 18px;
          .black;
          position: relative;
          left: 42px;
          top: 19px;
          color: #fff;
        }
      }
    }
  }

  &__text {
    padding-top: 120px;
    float: left;

    h2 {
      font-size: 70px;
      margin-bottom: 50px;

      small {
        display: block;
        font-size: 30px;
        color: #fff;
        text-transform: none;
      }
    }
    h3 {
      margin-bottom: 50px;
      font-size: 30px;
    }
    h4 {
      color: #b8b8b9;
      .light;
      font-size: 24px;
      margin-bottom: 240px;
    }

    .parthner {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0 0 30px;
        padding: 0;
      }
    }
  }

  &__popover {
    display: none;
    background: #fff;
    width: 375px;
    z-index: 40;
    position: absolute;
    color: #000;
    padding: 25px 35px;

    h4 {
      font-size: 24px;
      .semibold
    }

    .close {
      position: absolute;
      right: 20px;
      top: 20px;
      background: url('../img/popover-close.png') no-repeat left top;
      width: 19px;
      height: 19px;
      opacity: 1;
    }

    &:after {
      .arrow(bottom, 10px, #fff);
      position: absolute;
      bottom: -20px;
      left: 50%;
      margin-left: -8px;
    }
  }
}
.request-button {
  transition: all .2s ease;

  &.clicked {
    opacity: 0;
  }
  button, a {
    border: none;
    z-index: 20;
    display: block;
    text-align: center;
    line-height: 72px;
    height: 72px;
    width: 300px;
    background: @orangeColor;
    color: #fff;
    border-radius: 3px;
    position: absolute;
    bottom: -36px;
    left: 50%;
    margin-left: -150px;
    font-size: 22px;
    text-transform: uppercase;
    .semibold;

    &:hover,
    &:active {
      background: darken(@orangeColor, 10%);
      color: #fff;
      .box-shadow(0 4px darken(@orangeColor, 20%));
    }
  }
}

.request-form {
  background: #181e23;
  color: #fff;
  height: 0;
  overflow: hidden;
  position: relative;
  transition: all .2s ease;

  &.active {
    padding: 60px 0;
    height: auto;
  }

  &__inner {

    input[type='text'],
    input[type='password'],
    input[type='email'],
    input[type='None'],
    textarea {
      background: #111518;
      border: 1px solid #000000;
      color: #fff;
    }

    h1, h2, h3 {
      color: #fff;
    }

    h2 {
      margin-top: 0;
    }

    h4 {
      color: #fff;
      text-transform: uppercase;
      color: #fff;
      margin: 30px 0 20px;
      .semibold;
    }

    .request-button {
      a {
        position: relative;
        bottom: 0;
      }
    }
  }
}

.solution-sidebar {
  margin: 140px 0 0;

  .download-price {
    padding: 5px 0 0 60px;
    background: url('../img/icon-file.png') no-repeat left top;
    min-height: 40px;

    a {
      display: block;
      font-size: 18px;
      line-height: 20px;
      .semibold;
    }
    span {
      font-size: 14px;
    }
  }

  .devider {
    height: 1px;
    line-height: 1px;
    margin: 30px 0;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;

    span {
      display: inline-block;
      background: #fff;
      padding: 7px 15px;
      position: relative;
      top: -8px;
      color: #e0e0e0;
      z-index: 10;
    }
  }

  .send-request {
    .semibold;
    a {
      font-size: 24px;
      display: block;
    }
  }
}

.accordeon {
  & > .item {
    border-bottom: 1px solid #e5e5e5;
    padding: 25px 0;

    .title {
      font-size: 26px;
      color: @linkColor;
      cursor: pointer;
    }
    .description {
      display: none;
    }

    &:last-child {
      padding-bottom: 0;
      border: none;
    }
    &:first-child {
      padding-top: 0;
    }

    &.active {
      .title {
        color: lighten(@linkColor, 15%);
        &:after {
          content: '';
          position: relative;
          display: inline-block;
          background: url('../img/accordeon-collapse.png') no-repeat top left;
          width: 19px;
          height: 10px;
          left: 10px;
          top: -3px;
        }
      }
      .description {
        display: block;
        margin: 20px 0 0;
      }
    }
  }
}

.feedback {
  background: #f5f5f5;
  padding: 30px 0 70px;
  margin-bottom: 30px;

  .feedback_item {
    font-size: 16px;

    .feedback_item_text,
    .feedback_item_logo {
      margin-bottom: 40px;
      a {
        .semibold;
      }
    }
  }
}


.feedback-list {
  &__item {
    margin: 0 0 30px;

    &-logo {
      float: left;
      width: 200px;
      text-align: center;
      margin: 20px 0 0;
    }
    &-text {
      margin-left: 200px;
      padding: 20px 30px;
      border: 2px solid #dce7eb;
      border-radius: 4px;
      position: relative;

      &:before {
        background: url('../img/feedback-list-corner.png') no-repeat left top;
        content:  '';
        display: block;
        width: 12px;
        height: 23px;
        position: absolute;
        left: -12px;
      }
    }
  }
}

.sidebar {
  margin-top: 75px;
  h3 {
    color: #aaa;
  }
}

.news {
  .news_item {
    font-size: 14px;
    .date {
      .semibold;
      color: #333;
      display: block;
      margin: 0 0 10px;
    }
  }
}

.breadcrumbs {
  margin: -30px 0 60px;
  font-size: 14px;
  color: #666;
}


.news-filter {
  margin: 0 0 40px;

  &__years {
    font-size: 14px;
    ul {
      list-style: none;
      margin: 0; padding: 0;

      li {
        display: inline-block;
        line-height: 40px;
        padding: 0 20px;

        &.active {
          & > * { color: #000; }
          background: #eff2f4;
        }
      }
    }
  }
  &__month {
    background: #eff2f4; 
    font-size: 14px;
    .semibold;

    ul {
      list-style: none;
      margin: 0 0 0 10px; 
      padding: 0;
      li {
        display: inline-block;
        padding: 0 10px;
        line-height: 40px;

        &.active {
          a, * {
            color: #000;
          }
        }
        span {
          color: #aaa;
        }
      }
    }
  }
}
.news-inner {
  &__item {
    margin: 0 0 30px 0;

    &-date {
      font-size: 14px;
      color: #666;
    }
    &-text {
      .semibold;
      font-size: 16px;
    }
  }
}

.google-map {
  height: 450px;
  width: 100%;
}
.google-map-address {
  position: relative;
  margin-bottom: -450px;
  height: 450px;

  .line {
    background: rgba(255,255,255, .8);
    height: 450px;

    .address {
      margin: 75px -20px 0;
      background: #000;
      border-radius: 2px;
      padding: 25px 40px;
      color: #fff;
      font-size: 16px;
    }
    .phone-block {
      margin: 30px 20px;
      font-size: 16px;
      .contact-phone {
        font-size: 30px;
        .black;
      }
    }
  }
}

.bottom {
  .bottom_menu {
    font-size: 14px;
    text-transform: uppercase;
    .semibold;
    margin: 0 0 40px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        margin-right: 20px;

        a {
          color: #262626;
          &:hover {
            color: #888;
          }
        }
      }
    }
  }
  .contact {
    margin: 0 0 40px;
    font-size: 14px;
  }
}
