{% extends '__base.html' %}

{% load cms_tags menu_tags thumbnail %}

{% block container %}
<div class="well-header">
    <h1>Отзывы клиентов</h1>

    {% static_placeholder 'feedback_text' %}
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-9 col-xs-offset-1">

            <div class="feedback-list">
                {% for i in items %}
                <div class="feedback-list__item">
                    <div class="feedback-list__item-logo">
                        <img src="{% thumbnail i.img 140x140 %}">
                    </div>
                    <div class="feedback-list__item-text">
                        {{ i.content }}<br>
                        <strong>{{ i.client }}</strong>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

{#    <div class="row">#}
{#        <div class="col-xs-6 col-xs-offset-3">#}
{##}
{#            <form action="#">#}
{#                <h3 class="form-label">Написать отзыв</h3>#}
{#                <div class="form-group">#}
{#                    <input type="text" placeholder="Телефон или эл. почта" class="form-control">#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <textarea class="form-control" placeholder="Текст отзыва" rows="10"></textarea>#}
{#                </div>#}
{#                <p>#}
{#                    <button class="btn btn-orange">Отправить отзыв</button>#}
{#                </p>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}

</div>
{% endblock %}