{% load i18n %}
{% if object.file.url %}
<div class="download-price">
	<a href="{{ object.file.url }}"{% if object.target %} target="{{ object.target }}"{% endif %}>
		{% if object.get_icon_url %}<img src="{{ object.get_icon_url }}" alt="" />{% endif %}
		{% if object.title %}
            {{ object.title }}
        {% else %}
            {{ object.get_file_name }}
        {% endif %}
	</a>
    <span>
        {% if object.file_exists %}
            <span class="filesize">{{ object.file.size|filesizeformat }}</span>
        {% else %}
            {% trans "file missing!" %}
        {% endif %}
    </span>
</div>
{% endif %}
