{% load menu_tags %}

{% for child in children %}
<li class="{% if child.selected %} active{% endif %}{% if child.ancestor %} active{% endif %}{% if child.sibling %} sibling{% endif %}{% if child.descendant %} descendant{% endif %}">
	<a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
</li>
{% endfor %}